name: Déploiement automatique

on:
  push:
    branches:
      - lucas
      - lea
      - seraphin
      - maden
      - dev
      - prod

jobs:
  deploy:
    runs-on: ${{ github.ref_name == 'prod' && 'self-hosted' || 'ubuntu-latest' }}

    steps:
      - name: Récupération du code
        uses: actions/checkout@v4

      - name: Déduction du dossier de destination
        id: vars
        run: |
          BRANCH="${GITHUB_REF##*/}"

          if [ "$BRANCH" = "prod" ]; then
            echo "TARGET_DIR=/var/www/html" >> $GITHUB_OUTPUT
            echo "IS_PROD=true" >> $GITHUB_OUTPUT
          else
            case "$BRANCH" in
              lucas) SUBDOMAIN="lucas.sae" ;;
              lea) SUBDOMAIN="lea.sae" ;;
              seraphin) SUBDOMAIN="seraphin.sae" ;;
              maden) SUBDOMAIN="maden.sae" ;;
              dev) SUBDOMAIN="sae" ;;
              *) echo "Branche non gérée pour le déploiement."; exit 1 ;;
            esac
            echo "TARGET_DIR=sites/${SUBDOMAIN}.lucasvieira.fr/" >> $GITHUB_OUTPUT
            echo "IS_PROD=false" >> $GITHUB_OUTPUT
          fi

      - name: Création du fichier d'environnement PHP
        run: |
          IS_PROD="${{ steps.vars.outputs.IS_PROD }}"
          if [ "$IS_PROD" = "true" ]; then
            echo "<?php
            putenv('DB_HOST=${{ secrets.PDB_HOST }}');
            putenv('DB_USER=${{ secrets.PDB_USER }}');
            putenv('DB_PASS=${{ secrets.PDB_PASS }}');
            putenv('DB_NAME=${{ secrets.PDB_NAME }}');
            " > PHP-SAE/src/php/env.php
          else
            echo "<?php
            putenv('DB_HOST=${{ secrets.DB_HOST }}');
            putenv('DB_USER=${{ secrets.DB_USER }}');
            putenv('DB_PASS=${{ secrets.DB_PASS }}');
            putenv('DB_NAME=${{ secrets.DB_NAME }}');
            " > PHP-SAE/src/php/env.php
          fi

      - name: Déploiement
        run: |
          IS_PROD="${{ steps.vars.outputs.IS_PROD }}"
          TARGET_DIR="${{ steps.vars.outputs.TARGET_DIR }}"

          if [ "$IS_PROD" = "true" ]; then
            echo "Déploiement local sur $TARGET_DIR"
            sudo rm -rf "$TARGET_DIR"/*
            sudo rsync -av --delete --exclude='.*' PHP-SAE/src/ "$TARGET_DIR/"
            echo "Déploiement local terminé."
          else
            echo "Installation de lftp"
            sudo apt-get update && sudo apt-get install -y lftp

            echo "Déploiement SFTP vers $TARGET_DIR"
            lftp -c "
              set sftp:auto-confirm yes;
              open -u ${{ secrets.FTP_USER }},${{ secrets.FTP_SECRET }} sftp://${{ secrets.FTP_HOST }};
              cd $TARGET_DIR;
              glob -a rm -rf -- [^.]*;
              lcd PHP-SAE/src/;
              mirror -R --parallel=10 --exclude-glob .* ./ .;
              bye
            "
            echo "Déploiement SFTP terminé."
          fi
