:root {
    --bleu-roi : #4169E1;
    --bleu-clair : #DFF2FF;
    --orange-fonce: #cf5d28;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
}


/* Style pour le contenu texte */
.text-content {
    border: solid var(--orange-fonce) 3px;
    width: 33%;
    margin: 150px auto 100px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}







