:root {
  --bleu-roi : #4169E1;
  --bleu-clair : #DFF2FF;
  --orange-fonce : #cf5d28;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: var(--bleu-roi);
  /*box-shadow: inset 0px -1px 0px #faed9c;*/
  z-index: 1000;
  top: 0;
}
.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-family: Roboto Flex, sans-serif;
  font-size: 32px;
  margin-left: 6px;
  font-weight: 550;
  padding : 20px;
  color : #DFF2FF;/* couleur de relax math*/
}

.nav-icon img {
  width: 70px;
}

.hamburger {
  display: none;
}

.nav-authentication {
  margin-left: auto;
}

.user-toggler {
  display: none;
}

.banniere_haute {
  padding-bottom: 20px;
}

.banniere_haute img {
  width: 100%;
  max-height: 250px; /* Hauteur réduite */
  object-fit: cover; /* Garde les proportions en rognant */
  object-position: bottom; /* Rogne le haut de l'image */
  overflow: hidden;
}

.banniere_bas {
  padding-top: 20px;
}


.banniere_bas img {
  /*padding-top: 25px;*/
  width: 100%;
  height: 175px; /* Hauteur réduite */
  object-fit: cover; /* Garde les proportions en rognant */
  object-position: top; /* Rogne le bas de l'image */
  overflow: hidden;
}

.footer-content {
  text-align: center;
  font-size: 14px;
  color: var(--bleu-clair);
  padding: 0;
  margin: 0;
  background-color: var(--bleu-roi);
}

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
  }

  /* nav */
  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }
  .main-navlinks {
    order: 1;
    width: auto;
  }

  /* hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: var(--bleu-roi);
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #faed9c;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: var(--bleu-roi);
    top: 100%;
    left: 0;
    transform: translate(-100%);
    height: 110vh;
    padding: 15px 50px 15px 20px;
    /*border-right: 1px solid #c5c5c6;*/
  }
  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    color: #faed9c;
    font-size: 18px;
    margin: 10px 0;
  }

  .nav-authentication {
    order: 3;
    margin-left: 0;
  }

  .user-toggler {
    display: block;
    cursor: pointer;
    border: none;
  }

  .user-toggler img {
    width: 20px;
  }
  .banniere_haute img {
    width: 100%;
    max-height: 200px; /* Hauteur réduite */
    object-fit: cover; /* Garde les proportions en rognant */
    object-position: bottom; /* Rogne le haut de l'image */
    overflow: hidden;
  }
  .banniere_bas img {
    width: 100%;
    height: 100%; /* Hauteur réduite */
    object-fit: cover; /* Garde les proportions en rognant */
    object-position: top; /* Rogne le bas de l'image */
    overflow: hidden;
  }
}

.footer-content {
  text-align: center;
  font-size: 14px;
  color: var(--bleu-clair);
  /*padding: 10px 0;*/
  background-color: var(--bleu-roi);
}
